<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MagasinCentral</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MagasinCentral.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MagasinCentral</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @*<li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home"
               asp-action="Privacy">Privacy</a>
        </li>*@

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="administrationDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Administration
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="administrationDropdown">
                                <li>
                                    <a class="dropdown-item" asp-controller="Administration" asp-action="Rapport">
                                        Rapport
                                        consolidé
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Administration" asp-action="Performance">
                                        Performances
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="ventesDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Ventes
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="ventesDropdown">
                                <li>
                                    <a class="dropdown-item" asp-controller="Vente" asp-action="Liste">
                                        Liste des
                                        ventes
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Vente" asp-action="Enregistrer">
                                        Faire une
                                        vente
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="catalogueDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Catalogue
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="catalogueDropdown">
                                <li>
                                    <a class="dropdown-item" asp-controller="Catalogue" asp-action="Index">
                                        voir
                                        Produits
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Catalogue" asp-action="Recherche">
                                        Chercher
                                        une produit..
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="inventaireDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Inventaire
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="inventaireDropdown">
                                <li>
                                    <a class="dropdown-item" asp-controller="Inventaire" asp-action="StockCentral">Stock central</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Inventaire" asp-action="DemandesEnAttente">Demandes en attente</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="ecommerceDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                ECommerce
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="ecommerceDropdown">
                                <li>
                                    <a class="dropdown-item" asp-controller="ECommerce" asp-action="Clients">Clients</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="ECommerce" asp-action="PanierClient" asp-route-clientId="2">Panier client #2</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - MagasinCentral - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
